RemotePI.json
[
    {
        "id": "b0dcec21bfd64fad",
        "type": "tab",
        "label": "RemotePI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5244a6e9e412ebc8",
        "type": "telegram sender",
        "z": "b0dcec21bfd64fad",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e9caa44c770909f6",
        "type": "function",
        "z": "b0dcec21bfd64fad",
        "name": "take_payload_from_terminal_output",
        "func": "var data=msg.payload;\nvar machine_info={\n    payload:{\n        chatId: \"6464678817\",\n        type: \"message\",\n        content: data\n    }\n}\nreturn machine_info;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "5244a6e9e412ebc8"
            ]
        ]
    },
    {
        "id": "d9ba4787d741caf5",
        "type": "exec",
        "z": "b0dcec21bfd64fad",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "e9caa44c770909f6"
            ],
            [],
            []
        ]
    },
    {
        "id": "a608aefbc364ddeb",
        "type": "comment",
        "z": "b0dcec21bfd64fad",
        "name": "Sending commands to pi",
        "info": "",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "9025b21bf57cb8e9",
        "type": "telegram receiver",
        "z": "b0dcec21bfd64fad",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "b1e6ce02a51a6679"
            ],
            []
        ]
    },
    {
        "id": "b1e6ce02a51a6679",
        "type": "function",
        "z": "b0dcec21bfd64fad",
        "name": "Taking_commands_telegram",
        "func": "var data=msg.payload.content;\nvar j=0;\nmsg = {\n    payload: data\n};\nfunction delay(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\nif (data=='sudo poweroff'){\nawait delay(10000);\nreturn msg;\n}\nelse{\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "d9ba4787d741caf5"
            ]
        ]
    }
]