RemotePI.json
[
    {
        "id": "5baa0e3262caa345",
        "type": "tab",
        "label": "RemotePI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74ac0399290dc6ec",
        "type": "debug",
        "z": "5baa0e3262caa345",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "55981ddc4422e092",
        "type": "telegram sender",
        "z": "5baa0e3262caa345",
        "name": "",
        "bot": "2586c691f2af97ec",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d4756c422215bd3d",
        "type": "function",
        "z": "5baa0e3262caa345",
        "name": "Taking_commands_telegram",
        "func": "var data=msg.payload.content;\nvar msg={\n    payload:data\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "7d048a7f4af8611a"
            ]
        ]
    },
    {
        "id": "570ffd6ce9be1b04",
        "type": "function",
        "z": "5baa0e3262caa345",
        "name": "take_payload_from_terminal_output",
        "func": "var data=msg.payload;\nvar machine_info={\n    payload:{\n        chatId: \"6464678817\",\n        type: \"message\",\n        content: data\n    }\n}\nreturn machine_info;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "74ac0399290dc6ec",
                "55981ddc4422e092"
            ]
        ]
    },
    {
        "id": "7d048a7f4af8611a",
        "type": "exec",
        "z": "5baa0e3262caa345",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "570ffd6ce9be1b04"
            ],
            [],
            []
        ]
    },
    {
        "id": "dd28d9f0dbc8839b",
        "type": "comment",
        "z": "5baa0e3262caa345",
        "name": "Sending commands to pi",
        "info": "",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "97302092a5efcf02",
        "type": "telegram receiver",
        "z": "5baa0e3262caa345",
        "name": "",
        "bot": "2586c691f2af97ec",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "d4756c422215bd3d"
            ],
            []
        ]
    },
    {
        "id": "2586c691f2af97ec",
        "type": "telegram bot",
        "botname": "",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "9000",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]